
<div class="basket">
  <div class="basket__wrapper">
    <div *ngIf="items.length === 0" class="basket__null">
      <div class="basket__null-content">
        <div class="basket__null-content-title">
          В корзине пока пусто
        </div>
        <div class="basket__null-content-subtitle">
          Загляните на главную, чтобы выбрать товары или найдите нужное в поиске
        </div>
        <button (click)="navigateToWelcomePage()" class="basket__null-content-btn">
          Перейти на главную
        </button>
      </div>
    </div>
    <div *ngIf="items.length > 0"  class="basket__content">
      <div class="basket__block-list">
        <div class="basket__block-list-title">
          <div>Корзина</div>
          <span> {{ items.length }} товар(ов)</span>
        </div>
        <div class="basket__block-cards" *ngFor="let item of items; let i = index">
          <div class="basket__block-cards-info" >
            <div class="basket__block-cards-info-img">
              <img [src]="item.image" alt="icon">
            </div>
            <div class="basket__block-cards-info-desc">
              <div class="basket__block-cards-info-desc-name">
                <span>{{ item.description }} ,</span>
                <span> {{ item.name }}</span>
              </div>
              <div class="basket__block-cards-desc-color">
                {{ item.color }}
              </div>
              <div class="basket__block-cards-info-desc-delivery">
                Послезавтра
              </div>
              <div class="basket__block-cards-info-icon">
                <div class="basket__block-cards-info-icon-favorites">
                  <img src="assets/icon/icon-heart-basket.png">
                </div>
                <div class="basket__block-cards-info-icon-delete" (click)="removeItem(i)">
                  <img src="assets/icon/icon-trash.png">
                </div>
              </div>
            </div>
          </div>
          <div class="basket__block-cards-count">
            <div class="basket__block-cards-count-delete">-</div>
            <div>{{ itemCount }}</div>
            <div class="basket__block-cards-count-add">+</div>
          </div>
          <div class="basket__block-cards-price">
            {{item.price}} р.
          </div>
        </div>
      </div>


      <div class="basket__block-data">
        <div class="basket__block-data-delivery">
          <span>Доставка и пункт выдачи</span>
        </div>
        <div class="basket__block-data-payment">
          <span>Оплата картой</span>
        </div>
        <div class="basket__block-data-products">
          <span>Товары, {{ items.length }} шт.</span>
          <span></span>
        </div>
        <div class="basket__block-data-result-price">
          <span>Итого</span>
          <span> {{ sum }} р.</span>
        </div>
        <div class="basket__block-data-btn">
          <button class="basket__block-data-btn-order" type="submit">Заказать</button>
        </div>
        <div class="basket__block-data-rules">
          <div class="basket__block-data-rules-icon">
            <img src="assets/icon/icon-check.png">
          </div>
          <div class="basket__block-data-rules-info">
            Соглашаюсь с <span>правилами пользования торговой площадки </span> и <span>возврата</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
