
<div class="basket">
  <div class="basket__wrapper">
    <div class="basket__content">
      <div class="basket__block-list">
        <div class="basket__block-list-title">
          <div>Корзина</div>
          <span> 2 товара</span>
        </div>
        <div class="basket__block-cards">
          <div class="basket__block-cards-img">
            <img src="favicon.ico" alt="icon">
          </div>
          <div class="basket__block-cards-info">
            <div class="basket__block-cards-desc">
              Джинсы бананы широкие зауженные к низу оверсайз светлые, ЛВСВСВЫС
            </div>
            <div class="basket__block-cards-color">
              голубой
            </div>
          </div>
          <div class="basket__block-cards-quantity">
            <div>-</div>
            <span>1</span>
            <div>+</div>
          </div>
          <div class="basket__block-cards-price">
            123,04 р.
          </div>
        </div>
      </div>


      <div class="basket__block-data">
        <div class="basket__block-data-delivery">
          <span>Доставка и пункт выдачи</span>
        </div>
        <div class="basket__block-data-payment">
          <span>Оплата картой</span>
        </div>
        <div class="basket__block-data-products">
          <span>Товары, 0 шт.</span>
          <span></span>
        </div>
        <div class="basket__block-data-result-price">
          <span>Итого</span>
          <span>0,00 р.</span>
        </div>
        <div class="basket__block-data-btn">
          <button class="basket__block-data-btn-order" type="submit">Заказать</button>
        </div>
        <div class="basket__block-data-rules">
          <div class="basket__block-data-rules-icon">
            <img src="assets/icon/icon-check.png">
          </div>
          <div class="basket__block-data-rules-info">
            Соглашаюсь с <span>правилами пользования торговой площадки </span> и <span>возврата</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
