<div class="header" >
  <div class="header__wrapper">
    <div class="header__content">
      <div class="header__top">
        <ul class="header__top-menu">
          <li class="header__top-menu-geo">
         <span class="header__top-menu-geo-icon">
              <img src="/assets/location.png" alt="img">
         </span>
            <span>Минск</span>
          </li>
          <li class="header__top-menu-sale-on-wb">
            Продавайте на Wildberries
          </li>
          <li class="header__top-menu-work-in-wb">
            Работа в Wildberries
          </li>
        </ul>
        <div class="header__top-menu-country" (click)="toggleModal()">
          <app-currency-modal *ngIf="isModalVisible"></app-currency-modal>
          <img src="assets/flag/flag.png" alt="img">
          <span>BYN</span>
        </div>


      </div>
      <div class="header__bottom">
        <div class="header__bottom-block-burger">
          <h1 (click)="navigateToWelcomePage()">wildberries</h1>
          <div class="header__bottom-block-burger-menu">
            <span class="burger-line-1"></span>
            <span class="burger-line-2"></span>
            <span class="burger-line-3"></span>
          </div>
        </div>
        <div class="header__bottom-block-search">
          <input class="header__bottom-block-search-input" type="search" placeholder="Найти на Wildberries">
        </div>
        <div class="header__bottom-block-nav">
          <div class="header__bottom-block-nav-addresses" (click)="navigateToAddresses()">
            <img src="/assets/location.png" alt="img">
            <span>
              {{ isAuthenticated ? 'Доставки' : 'Адреса' }}
            </span>
          </div>
          <div *ngIf="isAuthenticated" class="header__bottom-block-nav-favorite" (click)="navigateToFavorites()">
            <img src="/assets/icon/icon-heart.png" alt="img" style="filter: invert(1); height: 28px; width: 28px; margin-left: 25%; margin-bottom: 5px">
            <span style="color:#e9acef; margin-right: 20px;">
              Избранное
            </span>
          </div>
          <div class="header__bottom-block-nav-sign-in" (click)="onSignInClick()">
            <img src="/assets/user.png" alt="img">
            <span>
              {{ isAuthenticated ? 'Профиль' : 'Войти' }}
            </span>
            <app-profile *ngIf="profileModalService.isModalVisible"></app-profile>
          </div>

          <div class="header__bottom-block-nav-basket" (click)="navigateToBasket()">
            <img src="/assets/shopping-bag.png" alt="img">
            <span>
              Корзина
            </span>
            <div class="header__bottom-block-nav-basket-count" *ngIf="test > 0" >{{ test }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
