.main{
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.main-header{
  text-align: center;
}
.form-input__email{
  color: #0b0b0b;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.form-input__email:active{
  box-shadow: 2px 2px 15px #8707ff inset;
  border: 2px solid #6201ba;
}
.form-input__password{
  color: #0b0b0b;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  margin-bottom: 20px;
}
.form-input__password:active{
  box-shadow: 2px 2px 15px #8707ff inset;
  border: 2px solid #6201ba;
}
.form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.form p{
  text-align: center;
}
.form__btn-sign-in{
  cursor: pointer;
  border: 0;
  padding:10px 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #b3b1b1;
  transition: .2s;
  margin-bottom: 15px;
}
.form__btn-sign-in:hover{
  background-color: #d8d8d8;
}
.form__btn-sign-in-google{
  cursor: pointer;
  border: 0;
  padding:10px 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #b3b1b1;
  transition: .2s;
  margin-bottom: 20px;
}
.form__btn-sign-in-google:hover{
  background-color: #d8d8d8;
}

.form__btn-sign-up{
  cursor: pointer;
  color: #ffffff;
  background-color: #ae01ab;
  border: 0;
  padding:10px 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #e42ce4;
  transition: .2s;
}
.form__btn-sign-up:hover{
  background-color: #950293;
}
