/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.profile{
  &__modal{
    position: absolute;
    top: 60px;
    left: -160px;
    width: 320px;
    padding: 24px;
    background-color: #fbfbfb;
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    &-title{
      position: relative;
      display: flex;
      align-items: center;

      &-name{
        display: flex;
        align-items: center;

        h2{
          color: #0b0b0b;
          margin-right: 10px;
        }
        span{
          font-weight: bold;
          color: #8b8b8c;
          font-size: 16px;
        }
      }

      img{
        width: 52px;
        margin-right: 20px;
      }
      &-notifications{
         img{
          top: 0;
          right: 0;
          position: absolute;
          width: 24px;
          margin: 0;
        }
      }
    }

    &-block{
      margin: 20px 0;

      div{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #232323;
        font-size: 16px;

        img{
          filter: grayscale(100%); /* Превращает изображение в оттенки серого */
          transition: filter 0.3s ease;
          width: 28px;
          height: 28px;
          margin-right: 15px;
        }
      }
    }
    &-reviews{
      color: #0b0b0b;
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;

      span:first-child{
        margin-bottom: 10px;
      }
    }
    &-sign-out{
      border: 0;
      color: #838385;
      background-color: white;
      display: flex;
      justify-content: left;
      margin-top: 20px;
      cursor: pointer;
    }
  }
}

