


<div class="header__top-menu-country-modal">
  <h4>Валюта</h4>
  <div class="header__top-menu-country-modal-block">
    <img src="assets/flag/flag.png" alt="img">
    <span class="header__top-menu-country-modal-block-currency">BYN</span>
    <span>Белорусский рубль</span>
  </div>
  <div class="header__top-menu-country-modal-block">
    <img src="assets/flag/russia.png" alt="img">
    <span class="header__top-menu-country-modal-block-currency">RUB</span>
    <span >Российский рубль</span>
  </div>
  <div class="header__top-menu-country-modal-block">
    <img src="assets/flag/kzh.png" alt="img">
    <span class="header__top-menu-country-modal-block-currency">KZT</span>
    <span>Казахстанский тенге</span>
  </div >
  <div class="header__top-menu-country-modal-block">
    <img src="assets/flag/kzh.png" alt="img">
    <span class="header__top-menu-country-modal-block-currency">AMD</span>
    <span>Армянский драм</span>
  </div>
  <div class="header__top-menu-country-modal-block">
    <img src="assets/flag/kzh.png" alt="img">
    <span class="header__top-menu-country-modal-block-currency">KGS</span>
    <span>Кыргызский сом</span>
  </div>
  <div class="header__top-menu-country-modal-block">
    <img src="assets/flag/kzh.png" alt="img">
    <span class="header__top-menu-country-modal-block-currency">UZS</span>
    <span>Узбекский сум</span>
  </div>
</div>
