.header-modal{
  &__top-menu-country-modal {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    width: 300px;
  }
  &__top-menu-country-modal h4{
    margin-bottom: 15px;
    color: #404040;
  }
  &__top-menu-country-modal-block{
    display: flex;
    align-items: center;
    color: #404040;
    padding: 10px;
    border-radius: 10px;
  }
  &__top-menu-country-modal-block:hover{
    background-color: #e8e6e6;
  }
  &__top-menu-country-modal-block img{
    width: 26px;
    margin-right: 10px;
  }
  &__top-menu-country-modal-block-currency{
    color: #777677;
    margin-right: 15px;
  }
}

