<div class="main">
  <div class="main-header">
    <h3>
      Welcome to WB
    </h3>
    <p>
      Please sign-in and sign-up to start using this project
    </p>
  </div>
  <form class="form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <input class="form-input__email" type="email" placeholder="Email" formControlName="email">
    <input class="form-input__password" type="password" placeholder="Password" formControlName="password">
    <button type="submit" class="form__btn-sign-up">Sign-Up</button>
    <div class="alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <button class="form__btn-sign-in-google" (click)="onSignInWithGoogle()">Sign-Up with Google </button>
    <p>
      You have an account?
    </p>
    <button class="form__btn-sign-in" [routerLink]="['/auth/sign-in']" >Sign-In</button>
    <a class="link__forgot-password" [routerLink]="['/auth/forgot-password']">Forgot Password</a>
  </form>
</div>
