
<div class="sign-in__page">
  <div class="sign-in__block">
    <div class="sign-in__block-title">
      <h2>Войти или создать профиль</h2>
    </div>
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="sign-in__form">
        <div class="email-wrapper">
          <input class="sign-up__form-email" type="email" placeholder="Email" formControlName="email" (input)="toggleClearButton()">
          <button class="clear-email" type="button" (click)="clearEmail()" *ngIf="showClearButton">
            &#10006;
          </button>
        </div>
<!--        <div class="password-wrapper">-->
<!--          <input [type]="passwordVisible ? 'text' : 'password'" class="sign-up__form-password" placeholder="Password" formControlName="password">-->
<!--          <button class="show-password" type="button" (click)="togglePasswordVisibility()">-->
<!--            {{ passwordVisible ? 'Скрыть' : 'Показать' }}-->
<!--          </button>-->
<!--        </div>-->
        <div class="password-wrapper">
          <input [type]="passwordVisible ? 'text' : 'password'" class="sign-up__form-password" placeholder="Password" formControlName="password">
          <button class="show-password" type="button" (click)="togglePasswordVisibility()">
            <i class="eye-icon">{{ passwordVisible ? '👁️' : '👁️‍🗨️' }}</i>
          </button>
        </div>
        <div class="alert-danger" *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <button type="submit" class="sign-in__form-btn">Вход</button>
      </form>
      <div class="sign-in__additional-features">
        <button class="sign-in__btn-in-google" (click)="onSignInWithGoogle()" >Вход через Google</button>
        <p>
          У вас нет аккаунта?
        </p>
        <button class="sign-in__btn-sign-up" [routerLink]="['/auth/sign-up']" >Регистрация</button>
        <a class="sign-in__link-forgot-password" [routerLink]="['/auth/forgot-password']">Восстановить пароль</a>
      </div>
  </div>
</div>
